body, main::before{
    content: '';
    background-color: rgb(244, 245, 245);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    list-style: none;
    display: inline-block;
}
.logo:hover {
    text-shadow: 0 0 .1em, 0 0 .3em; 
}
.main-header{
    height: 5rem;
    color: #909090;
    background-color: #fff;
    border-bottom:1.5px solid #f1f1f1;
    box-shadow: 0 7px 4px -4px rgba(0,0,0,.2);;
}
.main-header .header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.main-header .header>.logo{
    font-size: 3em;
    text-shadow: 0 1px hsl(0,0%,85%),
                0 2px hsl(0,0%,80%),
                0 3px hsl(0,0%,75%),
                0 4px hsl(0,0%,70%),
                0 5px hsl(0,0%,65%),
                0 5px 10px rgb(37, 36, 36);
}
.main-header .header>.main-nav{
    height: 100%;
    flex: 1 0 auto;
}
.main-nav .main-nav-list{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0;
}
.nav-item {
    vertical-align:middle;  
    padding: 0 1.2rem;
}

.search{
    flex: 1 1 auto;
    justify-content: flex-end;
    cursor: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
input::-webkit-input-placeholder{
    color:rgb(173, 180, 187);
    font-size:20px;
}
.search .search-form{
    border: 1px solid hsla(0,0%,59.2%,.2);
    background-color: rgba(227,231,236,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}
.search-input{
    border: none;
    width: 10rem;
    padding: .6rem 1rem;
    box-shadow: none;
    outline: none;
    font-size: 1.1rem;
    color: #666;
    background-color: transparent;
}

.nav-list {
    display: flex;
}
.link-item{
    padding: 0 1.5rem;
    cursor: pointer;
}
.link-item:hover{
    color: #007fff;
}
.auth .login::after{
    content: '.';
    margin-right: 0 0.4rem;
}

.content{
    margin-top: 1em;
    min-height:712px;
}


.content-border{
    background-color: #fff;
    border: 1.5px solid rgb(239, 239, 239);
}
.widget{
    margin-bottom: 50px;
}
.widget .link{
    color: #3354AA;
    cursor: pointer;
}
.widget .link:hover{
     color: #909090;
}
.post {
    margin-bottom: 5px;
    margin-top: 5px;

}
.post-list>li{
    display: block;
}
.post-meta{
    color: #999;
    font-size: .928em;
    padding: 0;
    margin-top: -0.5em;
}
.post-meta>li{
    display: inline-block;
    margin: 0 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid #EEE;
}
.keyword>a{
    border-right: 1px solid #999;
    padding-right: 5px;
    padding-left: 5px;
}
.keyword>a:last-child{
    border-right:none;
}
.footer{
    text-align: center;
    color: #999;
}
.footer>a{
    color: #3354AA;
    cursor: pointer;
    padding-left: 3px;
}
.footer>a:nth-child(2){
    border-left: 1px solid #999;
}

